<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Epic Button Game</title>
    <link rel='stylesheet' type='text/css' href='index.css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
    <script type="text/javascript">
        $(document).ready(function () {
            // this triggers the connection event in our server!
            var socket = io.connect();
            $('#push').click(function () {
                socket.emit("button_clicked");
            });
            socket.on("times", function (data) {
                $('#result').html('Button has been pushed ' + JSON.stringify(data.response) + ' times ');
            });
            $('#reset').click(function () {
                socket.emit("reset");
            });
            socket.on('updatedcount', function (data) {
                $('#result').html('');
            });
        })
</script>
</head>
<body>
    <div class='container'>
        <div id="result"></div>
        <h1>Epic Button Game!</h1>
        <h2>Click or Reset? Push them!</h2>
        <input type="submit" id="push" name="name" value="PUSH THE EPIC BUTTON">
        <input type="submit" id="reset" name="bname" value="RESET">
    </div>
</body>
</html>